@model Identity.Models.HomeViewModels.IndexViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    if (ViewData["Success"] != null)
    {
        <div class="alert alert-success">
            @ViewData["Success"]
        </div>
    }
    if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger">
            @ViewData["Error"]
        </div>
    }
    <div>
        <h1>Your repos:</h1>
        <ul class="list-group">
            <li>
                <a asp-action="AddNewRepo" class="btn btn-primary">
                    Add new repository
                </a>
            </li>
            @if (Model?.Repos != null)
            {
                foreach (var repo in Model.Repos)
                {
                    <li>
                        <a href="/@repo.Author.UserName/@repo.RepoName" class="btn btn-default">
                            @repo.RepoName
                        </a>
                    </li>
                }
            }
            else
            {
                <li>
                    <h4>
                        You have no repositories, go create some!
                    </h4>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div>
        <h1>Sign in to view your repos.</h1>
    </div>
}