@model ProfileViewModel

@{
    ViewData["Title"] = @Model.UserName;
}


<table class="table table-hover">
  <tr>
    <td>
      UserName
    </td>
    <td>
      @Model.UserName
    </td>
  </tr>
  <tr>
    <td>
      Number of repos
    </td>
    <td>
      @Model.PublicRepos.Count
    </td>
  </tr>
  <tr>
    <td>
      Other info
    </td>
    <td>
      Will go here
    </td>
  </tr>
</table>

<h4>
  Public Repos
</h4>

<ul class="list-group">
    @if (Model.PublicRepos.Count == 0)
    {
        <li>
            There are no repos
        </li>
    }
    else
    {
        foreach (var repo in Model.PublicRepos)
        {
            <li>
              <a href="/@repo.Author.UserName/@repo.RepoName/HEAD" class="btn btn-default">
                @repo.RepoName
              </a>
            </li>
        }
    }
</ul>