@model RepoViewViewModel
@{
    ViewData["Title"] = "Repository";
}

@await Component.InvokeAsync("RepoBar", new {repoView = (IRepoView)Model, activePage = "Repo"})

<br /><br /><br />
<div class="list-group">
    @foreach (var element in Model.InnerFolders)
    {
        var path = $"{Model.FullPath}/{element}";
        <a class="list-group-item list-group-item-info" href="@path">
            @element
        </a>
    }
    @foreach (var element in Model.InnerFiles)
    {
        var path = $"/View{Model.FullPath}/{element}";
        <a class="list-group-item list-group-item-success" href="@path">
            @element
        </a>
    }
</div>