@using System.Threading.Tasks
@model ViewFileViewModel
@{
    ViewData["Title"] = Model.FileName;
}

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

@await Component.InvokeAsync("RepoBar", new {repoView = (IRepoView)Model, activePage = "None"})

<h1>@Model.FileName:</h1>
<code class="prettyprint">
    @foreach(var line in Model.FileContent)
    {
        @line
        <br />
    }
</code>