@model Identity.Models.ManageViewModels.IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-primary">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn btn-primary">Create</a>
            }
        </dd>
        <dt>
            Upload your SHA key
        </dt>
        <dd>
            <form method="post" asp-action="Index" asp-controller="Manage" enctype="multipart/form-data">
                <input type="file" class="btn" name="files" />
                <input type="submit" class="btn btn-primary" value="Upload" />
            </form>
        </dd>
        <dt>
            Some other Settings
        </dt>
        <dd>
            Will go here
        </dd>
    </dl>
</div>